* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
.header {
  width: 100%;
  height: 80px;
  background-color: rgb(161, 16, 0);
  text-align: end;
  padding: 18px 16px;
}
.header a {
  color: white;
  text-decoration: none;
  font-size: 27px;
  margin: 4px;
  padding: 10px;
}
.hero-container {
  width: 100%;
  height: 90vh;
  background-color: rgb(40, 39, 39);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container .hero-inner h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 4px;
}
.hero-container .hero-inner p {
  color: rgb(152, 16, 1);
  font-size: 30px;
  padding: 4px;
}
.project-container {
  width: 100%;
  height: 170vh;
  background-color: rgb(24, 98, 171);
  text-align: center;
}
.project-container .h1 {
  color: white;
  text-decoration: underline;
  font-size: 22px;
  padding: 14px;
  padding-top: 20px;
}
.project-container .projects-sec {
  /* background-color: aquamarine; */
  width: 100%;
  height: 140vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  text-align: center;
}
.project-container .projects-sec .project-div {
  background-color: rgb(65, 65, 65);
  color: white;
  width: 400px;
  height: 450px;
}
.project-container .projects-sec div img {
  width: 400px;
  height: 400px;
}
.project-container .projects-sec .project-div h3 {
  text-align: center;
  padding: 6px;
  font-size: 18px;
  font-weight: 500;
}
.project-container button {
  background-color: rgb(65, 65, 65);
  color: white;
  padding: 14px 40px;
  font-size: 18px;
  border: none;
}
